* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5C5C5C;
    font-family: Arial, sans-serif;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.title {
    color: white;
    font-size: 60px;
    font-family: "Jockey One", sans-serif;
}

.facturation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 25px;
}

.Barem-container,
.devis-container {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Barem-container {
    width: 300px;
    margin-right: 50px;
}

.devis-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.titleBarem {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.Kilometrage,
.type {
    margin-bottom: 20px;
}

.category {
    font-size: 20px;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
}

.input-container {
    position: relative;
    display: inline-block;
}

.currency-input {
    height: 35px;
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    padding-right: 25px; /* espace pour le symbole € */
}

.currency-symbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    pointer-events: none; /* pour éviter que le clic ne sélectionne le symbole */
    font-size: 18px;
}

.devis-section {
    width: 30%;
}

.devis-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cleaning-type div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.yes-button, .no-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes-button {
    background-color: #4CAF50;
    color: white;
}

.no-button {
    background-color: #F44336;
    color: white;
}

.summary-item {
    width: 100%;
    height: 35px;
    background-color: #ddd;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li label {
    margin-left: 10px;
    margin-right: 20px;
}

/* Hide the radio buttons */
.yes-radio,
.no-radio {
    display: none;
}

/* Style the labels */
.yes-radio + label,
.no-radio + label {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

/* Style the labels when the radio buttons are checked */
.yes-radio:checked + label {
    background-color: #4CAF50;
    color: white;
}

.no-radio:checked + label {
    background-color: #F44336;
    color: white;
}

/* Hover effects for labels */
.yes-radio + label:hover,
.no-radio + label:hover {
    background-color: #e0e0e0;
}
